h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
  }
  
  h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
  }
  
  p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  blockquote {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
  }
  
  pre {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "verdana", sans-serif;
  }
  
  #menu-left {
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    min-height: 100vh;
    background: url('https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2022/07/bg_cinza-right-62e1426c08f60.png');
    background-size: 70vh;
    background-position: center;
    background-repeat: repeat;
  }
  
  .entrada_professor {
    font-size: 30px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    color: #666666;
    margin: auto;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px);
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .input-group {
    font-size: 30px;
    position: relative;
    margin-top: 25px;
    color: #000;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 50px 0;
  }
  
  .input-box-user input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #666666;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
    margin-top: 30px;
  }
  
  .input-box-password input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #666666;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
    margin-top: 15px;
  }
  
  .input-box input::placeholder {
    color: #666666;
  }
  
  .input-box i {
    position: absolute;
    height: 20px;
    font-size: 25px;
    top: 45%;
    align-items: center;
  }
  
  .center {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .login {
    margin-top: 70px;
    width: 100%;
    height: 50px;
    background-color: #165966;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .login:hover {
    background-color: #1A6C7C;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    #menu-left {
      display: none !important;
    }
  
    body {
      background-size: cover;
      background-position: center;
    }
  
    .container {
      width: 90%;
      padding: 25px 30px;
      background: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
      border-radius: 15px;
      backdrop-filter: blur(8px);
      margin-bottom: 80px;
    }
  
    .entrada_professor {
      font-size: 24px;
    }
  
    .login {
      margin-top: 40px;
    }
  }
  